body
{
    background-color: #6082B6;
}

#login-container
{
    border: 0px solid white;
    width: 600px;
    height: 300px;
    margin: 25px auto auto auto;
    background-color: white;
    border-radius: 15px;

}

#header
{
    text-align: center;
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
    border-radius: 15px 15px 0px 0px;
    margin-top: 0px;
    height: 100px;
    color: white;
}

#login-button
{
    background-color: deepskyblue;
    border-radius: 10px;
    border: 1px;
    margin: 20px 10px 10px;
    margin-left: 80%;
    width: 100px;
    height: 40px;
    color: white;
}

#uname, #password
{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 560px;
    border-radius: 10px;
    display: block;
    height: 30px;
    border-color: #FFFFF0;
}

#login-button:hover, #login-button:focus 
{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

input:focus
{
    outline: none;
}

#speech-bubble-1 
{
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    width: fit-content;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 5px;
    box-shadow: 0 0 0 9999px #000000b0;
}

#speech-bubble-1:after 
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.469em solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	margin-left: -1.469em;
	margin-bottom: -1.469em;
}

#tick-button, #tick-button-2
{
    background-color: grey;
    border-radius: 30px;
    border: none;
    margin-left: 90%;
}

#tick-button:hover, #tick-button-2:hover
{
    background-color: lightgray;
}

#console
{
    background-color: lightslategrey;
    margin-top: 100px;
    width: 700px;
    height: 150px;
    color: white;
    line-height: 4px;
    padding-top: 1px;
    padding-left: 1px;
    overflow: auto;
}

#speech-bubble-2 
{
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    width: fit-content;
    height: 100px;
    margin-top: 20px;
    display: none;
    margin-left: 280px;
    padding-top: 10px;
}

#speech-bubble-2:after 
{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.469em solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	margin-left: -1.469em;
	margin-top: -1.469em;
}

#parent
{
    flex: 1;
}

#speech-bubble-3 
{
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    width:fit-content;
    margin-top: -220px;
    display: none;
    margin-bottom: 150px;
}

#speech-bubble-3:after 
{
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.469em solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	margin-top: -1.469em;
	margin-right: -1.469em;
}

#invalid-credentials, #invalid-credentials-2
{
    width: 300px;
    margin-left: 38%;
    border: 2px white;
    background-color: lightcoral;
    text-align: center;
    border-radius: 15px;
    color: white;
    height: 25px;
    display: none;
}

#speech-bubble-4 
{
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    width: 220px;
    margin-left: 900px;
    margin-top: -220px;
    line-height: 4px;
    height: 160px;
    padding-top: 5px;
   display: none;
}

#speech-bubble-4:after 
{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.469em solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	margin-top: -1.469em;
	margin-left: -1.469em;
}

#speech-bubble-5 {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    width: fit-content;
    z-index: 9;
    margin-top: -570px;
    display: none;
}

#speech-bubble-5:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.469em solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	margin-top: -1.469em;
	margin-right: -1.469em;
}

#speech-bubble-6 
{
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    width: fit-content;
    display: none;
    z-index: 9;
    margin-top: 0px;
}

#speech-bubble-6:after 
{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.469em solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	margin-left: -1.469em;
	margin-top: -1.469em;
}

#code
{
    width: 300px;
    margin-top: 60px;
    height: 120px;
    z-index: -20;
    background-color: #808080;
    line-height: 3px;
    display:none;
    padding-top: 10px;
}

#speech-bubble-7 {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    width: 230px;
    z-index: 10;
    margin-left: 350px;
    margin-top: -140px;
    display: none;
}

#speech-bubble-7:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.469em solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	margin-top: -1.469em;
	margin-left: -1.469em;
}